In [1]:
import pandas as pd

In [9]:
file_path = './data/'

In [ ]:
col_names = ["Alcohol", "Malic acid", "Ash", "Alcalinity of ash", "Magnesium", "Total phenols", "Flavanoids", "Nonflavanoid phenols", "Proanthocyanins", "Color intensity", "Hue", "OD280/OD315 of diluted wines", "Proline"]
df = pd.read_csv('./data/wine.data', names=col_names)
df.head()

In [6]:
df.duplicated().value_counts()

False    178
Name: count, dtype: int64

In [5]:
df.Alcohol.duplicated().value_counts()

Alcohol
False    126
True      52
Name: count, dtype: int64

In [15]:
df.to_excel('./data/wines.xlsx')

In [ ]:
wines_df = pd.read_excel('./data/wines.xlsx', sheet_name='Sheet2', index_col=0)
wines_df.head()

In [18]:
wine_df = pd.read_excel('./data/wines.xlsx', 1, index_col=0)
wine_df.head()

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [ ]:
wines = pd.read_excel('./data/wines.xlsx', sheet_name=None, index_col=0)
wines[0].head()

In [21]:
type(wines)

dict

In [31]:
wines.keys()

dict_keys(['Sheet1', 'Sheet2'])

In [32]:
wines['Sheet1'].head()

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [ ]:
for k, v in wines.items():
    print(v.head())

In [ ]:
court_df = pd.read_excel('./data/Sample Data.xlsx', header=4. )
court_df.head(10)

In [38]:
court_df.columns

Index(['Unnamed: 0', 'Day', 'Month', 'Year', 'Code', 'No.', 'Day.1', 'Month.1',
       'Year.1', 'Name of Court', 'Code.1', 'No..1', 'Year.2', '\n(Select)',
       'Name of Judge 1 or Magistrate/DR or Kadhi', 'Judge 2', 'Judge 3',
       'Judge 4', 'Judge 5', 'Judge 6', 'Judge 7', '(Select option)',
       '(Select option).1', '(Select option).2', 'Day.2', 'Month.2', 'Year.3',
       'M', 'F', 'Org.', 'M.1', 'F.1', 'Org..1', '(Y/N)', 'P \n(Enter No.)',
       'D\n(Enter No.)', '(Enter No.)', '(Free text)'],
      dtype='object')

In [39]:
case_num = set(court_df['No.'])

In [ ]:
case_num